# =====================================================================================
# DOCKER
# =====================================================================================
DB_NAME=agentflow_db
DB_USER=postgres
DB_PASSWORD=postgres

# =====================================================================================
# APPLICATION
# =====================================================================================

